|*{
    margin: 0;
    padding: 0;
    z-index: 0;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFFED3;
}


@media (min-width : 550px) and (min-height : 550px)  {

#first-end{
    border: 10px solid #FFB4C2;
    background-color: #FFB4C2;
    position: fixed;
    border-radius: 30px;
    top: 50px;
    right: -50px;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    animation: rotate1 2s linear infinite;
}
@keyframes rotate1 {
    0% { transform: rotate(0deg); }
    40% { transform: rotate(45deg); }
    75% { transform: rotate(90deg); }
    100% { transform: rotate(180deg); }
}

#last-start{
    border: 10px solid #FFB4C2;
    position: fixed;
    background-color: #FFB4C2;
    border-radius: 30px;
    left: -50px;
    bottom: 100px;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    animation: rotate2 2s linear infinite;
}
@keyframes rotate2 {
    0% { transform: rotate(180deg); }
    40% { transform: rotate(90deg); }
    75% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
}
}

@media (min-width : 1000px) {
#mid-start{
    border: 10px solid #FFB4C2;
    position: fixed;
    background-color: #FFB4C2;
    border-radius: 30px;
    left:   16%;
    top: 100px;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    animation: rotate3 2s linear infinite;
}
@keyframes rotate3 {
    0% { transform: rotate(180deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(-180deg); }
}
#mid-end{
    border: 10px solid #FFB4C2;
    position: fixed;
    background-color: #FFB4C2;
    border-radius: 30px;
    right: 16%;
    bottom: 100px;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    animation: rotate4 2s linear infinite;
}
@keyframes rotate4 {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
}
}

.main-container{
    padding-left: 30px;
    border-radius: 40px;
    border: 10px solid transparent;
    background-color: rgba(193, 15, 205, 0.937);
    margin: 30% 0 0 0;
    height: 400px;
    width: 400px;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    font-size: large;
    box-shadow: 10px 10px 5px rgb(139, 139, 124);
}
h1{
    color:cyan;
}
input{
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:20px ;
    margin-bottom: 10px ;
    border: 0;
    background-color: rgba(255, 182, 193, 0.793);
    color: black;
}
#login{
    width: 170px;
    height: 90px;
    padding: 15px;
    padding-left:20px;
    border-radius: 40px;
    border: 0;
    margin-left: 90px ;
    text-align: center;
    background-color: rgba(245, 12, 140, 0.889);
    font-weight: 800;
    font-size: large;
    color: aliceblue;
    box-shadow: 10px 7px 5px rgb(58, 28, 89);
}
#login:active{
    box-shadow: 2px 2px 0px rgb(58, 28, 89);

}
.links{
    color: pink;
    padding: 10px;
    text-decoration: none;
}

#linksdiv{
    display: flex;
    flex-direction: column;
    padding-top:60px ;
}
